@font-face{font-family: 'Pretendard'; font-weight: 200; font-style: normal; src: 
    url('../font/Pretendard-Light.woff2') format('woff2'), 
    url('../font/Pretendard-Light.woff') format('woff'), 
    url('../font/Pretendard-Light.otf') format('opentype');
} 
@font-face{font-family: 'Pretendard'; font-weight: 400; font-style: normal; src: 
    url('../font/Pretendard-Regular.woff2') format('woff2'), 
    url('../font/Pretendard-Regular.woff') format('woff'), 
    url('../font/Pretendard-Regular.otf') format('opentype');
} 
@font-face {font-family: 'Pretendard'; font-weight: 500; font-style: normal; src:
    url('../font/Pretendard-Medium.woff2') format('woff2'),
    url('../font/Pretendard-Medium.woff') format('woff'),
    url('../font/Pretendard-Medium.otf') format('opentype');
} 
@font-face {font-family: 'Pretendard'; font-weight: 600; font-style: normal; src:
    url('../font/Pretendard-SemiBold.woff2') format('woff2'),
    url('../font/Pretendard-SemiBold.woff') format('woff'),
    url('../font/Pretendard-SemiBold.otf') format('opentype');
}
@font-face {font-family: 'Pretendard'; font-weight: 700; font-style: normal; src:
    url('../font/Pretendard-Bold.woff2') format('woff2'),
    url('../font/Pretendard-Bold.woff') format('woff'),
    url('../font/Pretendard-Bold.otf') format('opentype');
} 

body {
    font-family: 'Pretendard', "돋움", Dotum, Verdana, Arial, sans-serif;
	font-style: normal;
    font-weight: 500;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}