body{word-break: keep-all;color: #333333;}
.inner {max-width: 1280px;margin: 0 auto;padding: 0 20px;} 
.pf-wrap{max-width: 1280px;margin: 0 auto;}
.pf-header-wrap{width: 100%;margin: 0 auto;position: absolute;z-index: 10;top: 0;left: 0;}
.pf-header.white a{color: #fff;}
.pf-header-wrap.fixed{position: fixed;}

.link_mark{display: flex;justify-content: center;flex-direction: column;align-items: center;margin-top: 120px;}
.link_mark img{width: 40px;}
.link_mark a{font-size: 20px;color: #fff;font-weight: 200;margin-top: 26px;line-height: 30px;}
.link_mark a .link_info{width: 14px; margin-left: 7px;}

/* 상단 헤더 */
.pf-header-wrap .pf-header {max-width: 1280px;position: relative;padding: 20px;display: flex;justify-content: space-between;font-size: 14px;font-weight: 200;margin: 0 auto;}
.pf-header-wrap .pf-header h1{font-size:16px;}
.pf-header-wrap .pf-header h1 a{}
.pf-header-wrap .pf-header h2{font-size:16px;}
.pf-header-wrap .pf-header .home{display: inline-block;width: 120px;height: 70px;background: #fff;box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 16px 1px;border-radius: 0 0 60px 60px;position: absolute;right: 0;top: -20px;transition: .3s;border: 1px solid #eee;}
.pf-header-wrap .pf-header .home:hover{top: 0px;}
.pf-header .home a {display: flex;width: 100%;height: 100%;align-items: center;flex-direction: column;justify-content: center;}
.pf-header .home a span {margin: 10px 0;}
.pf-header .home a img {margin-bottom:17px;}
/* 홈페이지 슬로건/디자인 분류 메뉴 */
.pf-wrap .pf-tp-sct{display:inline-block;margin-bottom: 80px;width: 100%;}
.pf-wrap .pf-tp-sct .pf-slogan{font-size: 48px;font-weight: 200;line-height: 64px;letter-spacing: -2px;margin: 150px 0 90px;}
.pf-wrap .pf-tp-sct .pf-slogan p strong{font-weight: 600;word-break: keep-all;}
.pf-wrap .pf-tp-sct ul.pf-cate{display: flex;flex-wrap: wrap;}
.pf-wrap .pf-tp-sct ul.pf-cate li{width: calc(33.333% - 15px);border: 2px solid #e1e1e1;margin-right: 15px;margin-bottom: 15px;transition: .3s;position: relative;}
.pf-wrap .pf-tp-sct ul.pf-cate li:before {content: "준비중";display: inline-block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;backdrop-filter: blur(2px);display: flex;align-items: center;justify-content: center;font-size: 18px;color: #878787;font-weight: 200;}
.pf-wrap .pf-tp-sct ul.pf-cate li.act::before{content: none;}
.pf-wrap .pf-tp-sct ul.pf-cate li a{display: flex;justify-content: space-between;align-items: center;padding: 8px 14px;}
/* .pf-wrap .pf-tp-sct ul.pf-cate li:hover{border: 2px solid #111;box-shadow: -0px -0px 0px 5px rgba(238, 238, 238, 1);} 준비중 */
.pf-wrap .pf-tp-sct ul.pf-cate li img.plus{width: 18px;height: 18px;margin: 0 4px 0 6px;vertical-align: middle;}
.pf-wrap .pf-tp-sct ul.pf-cate li img{width: 50px;height: 50px;opacity: .2;transition:.3s;}
.pf-wrap .pf-tp-sct ul.pf-cate li:not(:first-child) img{filter: blur(1px);}
.pf-wrap .pf-tp-sct ul.pf-cate li span{font-size: 18px;font-weight: 200;color: #666;line-height: 20px;}
.pf-wrap .pf-tp-sct ul.pf-cate li.act span{color: #010101;}
.pf-wrap .pf-tp-sct ul.pf-cate li span em{display: inline-block;}
/* .pf-wrap .pf-tp-sct ul.pf-cate li:hover img{opacity: 1;} 준비중 */
.pf-wrap .pf-tp-sct ul.pf-cate li.act{border: 2px solid #111;box-shadow: -0px -0px 0px 5px rgba(238, 238, 238, 1);}
.pf-wrap .pf-tp-sct ul.pf-cate li.act img{opacity: 1;}


/* 포폴 작업 리스트 */
.pf-wrap .pf-bt-sct {margin-bottom: 98px;}
.pf-wrap .pf-bt-sct .filter {display: flex;justify-content: space-between;margin-bottom: 14px;color: #8A8A8A;font-weight: 200;font-size: 16px;}
.pf-wrap .pf-bt-sct .filter span{}
.pf-wrap .pf-bt-sct .pf-works-wrap{display: flex;flex-wrap: wrap;flex-direction: row;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok{overflow: hidden;width: 50%;display: inline-block;height: 560px;position: relative;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok-1 a::before {content:"";display:inline-block;width:100%;height:100%;background: url(../img/thumb_01_pc.png) no-repeat center / cover;transition: all .3s ease-in;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok-2 a::before {content:"";display:inline-block;width:100%;height:100%;background: url(../img/thumb_02_pc.png) no-repeat center / cover;transition: all .3s ease-in;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok-3 a::before {content:"";display:inline-block;width:100%;height:100%;background: url(../img/thumb_03_pc.png) no-repeat center / cover;transition: all .3s ease-in;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok-4 a::before {content:"";display:inline-block;width:100%;height:100%;background: url(../img/thumb_04_pc.png) no-repeat center / cover;transition: all .3s ease-in;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok:hover a:before{transform: scale(1.05, 1.05);}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok:hover{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;transition: .3s;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok a{display: inline-block;width: 100%;height: 100%;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok:hover .pf-cont{opacity: 1;bottom: 0;visibility: visible; box-shadow: rgba(100, 100, 111, 0.1) 0px -6px 15px 0px;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont{position: absolute;bottom: -90px;opacity:0;visibility:hidden;width: 100%;padding: 30px 25px;background: #fff;transition:.3s;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont p{display: flex;justify-content: space-between;font-size: 22px;line-height: 28px;align-items: flex-start;margin-bottom: 13px;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont p span{font-size: 14px;color: #8a8a8a;font-weight: 200;}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont .hashtag{}
.pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont .hashtag span{font-weight: 400;display: inline-block;padding: 8px 12px;font-size: 15px;border-radius: 6px;margin-right: 8px;color: #3592FF;background: #ecf5ff;margin-right: 8px;}

/*작업 상세페이지*/
section{overflow: hidden;}
.sect{width: 100%;min-height: 1080px;padding: 150px 0;}
.sect .sub-tit em{font-size:18px;font-weight:200;color: #ed0080;display: block;line-height: 30px;}
.sect .sub-tit span{font-size: 32px;line-height: 45px;font-weight: 500;letter-spacing: -1.5px;margin-bottom: 24px;display: inline-block;}
.sect .sub-tit .disc{font-size: 20px;line-height: 30px;font-weight: 200;color: #5A5A5A;}
.sect .sub-tit .disc.white{color: #EEEEEE;}

/* 상세페이지1 */
.works1 .sect1{position: relative;background-image: url(../img/pj1_bg.svg);background-size: cover;background-position: left -500px;}
.works1 .sect1::before{content: "";position: absolute;background-image: url(../img/pg1_img.svg);right: -180px;top: 350px;width: 1000px;height: 1000px;background-repeat: no-repeat;}
.works1 .sect1:after {content: "";display: inline-block;position: absolute;left: 0;right: 0;bottom: 0;height: 50%;background: #010101;z-index: -5;}
.works1 .sect1 .img_right{text-align: right;}
.works1 .sect1 .main-tit{padding-top: 250px;color: #fff;}
.sect1 .main-tit .logo-serv{display:inline-block;width:339px;margin-bottom: 120px;}
.sect1 .main-tit h3{font-size: 42px;line-height: 60px;letter-spacing: -2px;margin-bottom: 45px;}
.sect1 .main-tit h3 strong{color:#ED0080;}
.sect1 .main-tit p{font-size: 24px;line-height: 36px;letter-spacing: -2px;font-weight: 200;}

.works1 .sect2, .works1 .sect3, .works1 .sect4, .works1 .sect5, .works1 .sect7, .works1 .sect8{background: #010101;color: #fff;}
.works1 .sect2 .sub-tit{margin-bottom: 170px;}
.works1 .sect3{position: relative;}
.works1 .sect3::before{content: "";position: absolute;top: 50px;left: 50%;transform: translateX(-50%);width: 100%;height:420px;border-bottom: solid 1px #ED0080;}
.sect3 ul.sub-proc{display: flex;flex-direction: row;align-items: flex-start;margin-top: 190px;}
.sect3 ul.sub-proc li{width: 33.333%;}
.sect3 ul.sub-proc li span{font-size: 48px;line-height: 60px;font-weight: 600;margin-bottom: 23px;display: inline-block;}
.sect3 ul.sub-proc li p{font-size: 26px;line-height: 38px;font-weight: 200;}

.sect4 .sub-img{text-align: center;margin-bottom: 110px;}

.sect5 .sub-tit p{color: #9E9E9E;font-weight: 200;}
.sect5 .sub-img{margin-top: 88px;}
.sect5 .analy-result{font-size: 28px;line-height: 40px;text-align: center;font-weight: 200;margin-top: 20px;}

.works1 .sect6{background: #5B2E4C;color: #fff;}
.sect6 .sub-tit{margin-bottom: 20px;}
.sect6 .painpoint-list{width: 100%;margin-top: 70px;}
.sect6 .painpoint-list ul{display: flex;flex-wrap: nowrap;flex-direction: row;width: 100%;}
.sect6 .painpoint-list ul.pain-list1{margin-bottom: 33px;}
.sect6 .painpoint-list ul.pain-list1 li{margin-right: 30px;}
.sect6 .painpoint-list .pain-list2{display: flex;flex-direction: row;}
.sect6 .painpoint-list .pain-list2 ul{justify-content: flex-end;}
.sect6 .painpoint-list .pain-list2 li{margin-left: 30px;}
.sect6 .painpoint-list ul li {display: flex;width: 180px;flex-direction: column;align-items: center;}
.sect6 .painpoint-list ul li .img_guide {width: 100%;height: 250px;overflow: hidden;background: #552745;border-radius: 190px;margin-bottom: 15px;}
.sect6 .painpoint-list ul li .img_guide img{width: 100%;}
.sect6 .painpoint-list ul li span {font-size: 18px;font-weight: 200;line-height: 24px;}
.sect6 .painpoont-cont {display: inline-block;width: 100%;margin-top: 20px;}
.sect6 .painpoont-cont strong{font-size: 20px;color: #ed0080;line-height: 24px;margin-bottom: 12px;display: inline-block;}
.sect6 .painpoont-cont p{font-size: 18px;font-weight: 200;line-height: 24px;vertical-align: middle;margin-bottom: 5px;}
.sect6 .painpoont-cont p:before {display: inline-block;width: 4px;height: 4px;background: #fff;content: "";margin-right: 10px;border-radius: 5px;vertical-align: middle;}
.sect6 .painpoont-cont p:nth-of-type(6):before{background: #998392;}
.sect6 .painpoont-cont p:nth-of-type(7):before{background: #745068;}
.sect6 .painpoont-cont p:nth-of-type(8):before{background: #683F5B;}

.sect7{position: relative;}
.sect7 .text-warp{display: inline-block;position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 50%;}
.sect7 .bg_img{position: absolute;left: -120px;bottom: -400px;}

.sect8 .sub-tit {z-index: 1;position: relative;}
.sect8 .design-st{width: 100%;display: flex;margin-top: 70px;flex-direction: row;align-items: center;justify-content: center;}
.sect8 .design-st li{width: 380px;height: 536px;border-radius: 190px;text-align: center;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;}
.sect8 .design-st li:nth-child(1){border: solid 1px #ed0080;margin-right: 70px;}
.sect8 .design-st li:nth-child(2){border: solid 1px #764ccb;}
.sect8 .design-st li strong{font-size: 32px;font-weight: 200;line-height: 45px;margin-bottom: 50px;margin-top: 140px;}
.sect8 .design-st span{font-size: 26px;font-weight: 200;line-height: 32px;margin-bottom: 20px;}
.sect8 .design-st p{font-size: 20px;font-weight: 200;line-height: 32px;}

.sect9{}
.sect9 .text-motion{position: relative;margin-bottom: 150px;margin-top: 68px;}
.sect9 .text-motion > img{width: 818px;}
.sect9 .text-motion .img-warp{display: flex;flex-direction: column;align-items: flex-start;position: absolute;top: -52px;left: 130px;}
.sect9 .text-motion .img-warp > img:not(:last-of-type){margin-bottom: 5px;}
.sect9 .text-disc{text-align: left;position: absolute;left: 55%;}
.sect9 .text-disc h4{font-size: 32px;font-weight: 400;line-height: 48px;}
.sect9 .text-disc h4::after{content: "";display: inline-block;width: 100%;height:1px;background:#ed0080;}
.sect9 .text-disc p{font-size: 18px;font-weight: 200;line-height: 28px;color: #5A5A5A;margin-top: 28px;}

.sect10{}
.sect10 .sub-img{margin-top:164px;text-align: center;}

.sect11{}
.sect11 .divi{display: flex;}
.sect11 .divi .divi-2-1 {padding-right: 60px;border-right: solid 1px #a7a7a7;}
.sect11 .divi .divi-2-2 {padding-left: 60px;border-left: solid 1px #a7a7a7;}

.sect12{}
.sect12 .sub-img{text-align: center;}
.sect12 .sub-img img:nth-of-type(1){position: absolute;left: 50%;transform: translateX(-50%);}
.sect12 .sub-img img:nth-of-type(2){margin-top: 230px;}

.sect13 .sub-tit span{display: block;}
.sect13 .sub-tit span::after{content: "";display: inline-block;width: 100%;height: 1px;background: #ed0080;}
.sect13 .sub-img{display: flex;align-items: flex-start;justify-content: center;margin-top: 90px;}
.sect13 .sub-img img:nth-of-type(1){margin-right: -80px;}

.sect.sect13{padding: 150px 0 0;}
.sect.sect14 {padding: 0 0;}
.sect14{background: url(../img/sect14_bg.svg);background-size: cover;width: 100%;background-position: center;}
.sect14 .sub-img{display: flex;flex-direction: row;justify-content: center;margin-top: 130px;}
.sect14 .sub-img .sub-img-divi{display: flex;flex-direction: column;align-items: flex-end;}
.sect14 .sub-img .sub-img-divi:nth-of-type(1){margin-right: -50px;}
.sect14 .sub-img .sub-img-divi:nth-of-type(1) img:nth-child(n+2){margin-top: -50px;}
.sect14 .sub-img .sub-img-divi:nth-of-type(2) img:nth-of-type(2){margin-top: -50px;}

.sect15{}
.sect15 .pst-sect15{display: flex;justify-content: space-between;}
.sect15 .pst-sect15 .pst-leftside{display:flex;margin-top: 140px;}
.sect15 .sub-img-etc {display: flex;justify-content: center;margin-top: -200px;}
.sect15 .sub-img-divi {display: inline-block;vertical-align: top;}
.sect15 .sub-img-divi img{display: block;}
.sect15 .sub-img-divi:nth-of-type(2) {margin: 0 -60px;}

.sect16{background: #2F2047;color: #fff;}
.sect16 .sub-tit span{display: block;}
.sect16 .sub-tit span::after{content: "";display: inline-block;width: 100%;height: 1px;background: #ed0080;}
.sect16 .img-warp{display: flex;justify-content: center;margin-top: 58px;}



/* works2 */
.works2 .sect .sub-tit .disc{color: #666;}
.works2 .sect .sub-tit em{color: #28BBF4;margin-bottom: 10px;}
.works2 .sect .sub-tit em.forline {margin-bottom: 50px;}
.works2 .center_line {position: absolute;top: 60%;z-index: -1;margin-top: -6px;right: 0;left: 0;height: 77px;background: #02C6FF;}
.works2 .tit_pr {position: absolute;top: 50%;transform: translateY(-50%);left: 50%;margin-left: -44px;}
.works2 .sect1 .live_mb {position: absolute;left: 50%;top: -280px;margin-left: 247px;}
.works2 .sect2 .sub-img{margin-top: 70px;}
.works2 .sect2 .live-int {display: flex;flex-direction: column;align-items: flex-start;margin-top: -252px;z-index: 1;position: relative;margin-left: 80px;}
.works2 .sect2 .live-int > img {margin-bottom: 11px;}
.works2 .sect3 .sub-tit strong{font-size: 32px;color: #28BBF4;line-height: 45px; text-align: left;}
.works2 .sect3 .sub-img{margin-top: -40px;}
.works2 .sect3 .sub-tit.sub-tit2{display: flex;flex-direction: column;align-items: flex-start;width: 100%;margin-left: 680px;margin-top: 210px;}
.works2 .sect4 .sub-bi{display: flex;}
.works2 .sect4 .sub-bi .sub-tit{margin-left: 70px;}
.works2 .sect4 .sub-type{overflow: hidden;position: relative;}
.works2 .sect4 .sub-type .sub-tit {width: 35%;margin-top: 180px;display: flex;flex-direction: column;align-items: flex-end;text-align: right;}
.works2 .sect4 .sub-type .line{display: inline-block;width: 100%;position: absolute;right: 0;top: 50px;height: 1px;background: #28BBF4;}
.works2 .sect4 .videowrap {border-radius: 30px;width: 100%;position: relative;display: flex;flex-direction: column;align-items: flex-end;text-align: right;margin-top: -150px;}
.works2 .sect4 .video_mob {border-radius: 30px;height: auto;background: #f5f4f6;overflow: hidden;padding: 10px;width: 266px;}
.works2 .sect4 .live_vd_name{width: 100%; color: #9A9A9A;font-size: 18px;line-height: 28px;font-weight: 200;}
.works2 .sect4 .sercice-anim .videowrap .live_vd_name.vd_mob{margin-top: 5px;margin-bottom: 55px;}
.works2 .sect4 .sercice-anim .videowrap .live_vd_name.vd_pc{margin-top: -20px;}
.works2 .sect4 .sub-type.type_center {margin-top: 150px;display: flex;justify-content: flex-end;}
.works2 .sect4 .sub-type.type_center .sub-tit {width: 50%;margin-left: 80px;text-align: left;align-items: flex-start;}
.works2 .sect4 .sub-type.type_center .sub-tit img {margin-top: 80px;}
.works2 .sect5{text-align:center;background-image: url(../img/live_ex_bg.svg);background-size: cover;background-position: center;}
.works2 .link_mark img.link_logo{width: 58px;}
.works2 .sect5 .link_mark a{color: #28BBF4;}


.works3 .sect{padding: 0;}
.works3 .sect1{background: #F7F7F7;}
.works3 .sect.sect1 img:nth-child(1) {margin-top: 100px;}
.works3 .sect.sect1 img:nth-child(2) {margin-top: -140px;}
.works3 .sect2 .sub-type-line{width: 100%; display: flex;align-items: center;}
.works3 .sect2 .sub-type-divi{width: 50%;}
.works3 .sub-type-divi strong{font-size: 60px;font-weight: 600;}
.works3 .sub-type-divi .disc{font-size: 20px;color: #666;line-height: 32px;font-weight: 200;}
.works3 .sub-type-divi .disc.white{color: #EEEEEE;}

.works3 .sect2 .sub-type-line:nth-of-type(1){padding: 200px 0;}
.works3 .sect2 .sub-type-line .sub-type-divi:nth-of-type(1){text-align: center;}
.works3 .sect2 .sub-type-line:nth-of-type(2) {height: 582px;}
.works3 .sect2 .sub-type-line .divi-txt{background-color: #131313;height: 582px;display: flex;flex-direction: column;align-items: center;justify-content: center;font-size: 20px;line-height: 32px;color: #fff;font-weight: 200;}
.works3 .sect2 .sub-type-line .divi-txt p{margin-top: 36px;}
.works3 .sect2 .sub-type-line .divi-img{background-image: url(../img/home_over_img.svg);background-size: cover;display: inline-block;height: 582px;}
.works3 .sub-type-divi strong{margin-bottom: 30px;display: inline-block;}
.works3 .sect3 .sub-type-divi{text-align: center;}
.works3 .sect3{padding: 170px 0 0;margin-bottom: -300px;}

.works3 .sect4 {background: #181818;color: #fff;padding: 400px 0 1800px;margin-bottom: -1800px;}
.works3 .sect4 .sub-type-divi{margin-bottom: 100px;}
.works3 .sub-type-divi.imgs{margin-bottom: 80px;width: 100%;display: flex;justify-content: flex-end;margin-left: 200px;margin-top: -250px;}
.works3 .sub-type-divi.po-type2{margin-top:194px;display: flex;justify-content: space-between;align-items: center;}
.works3 .sub-type-divi.po-type3{margin-top:100px;display: flex;justify-content: flex-end;align-items: flex-start;}
.works3 .sub-type-divi.po-type3 img:nth-of-type(1){margin-top: 110px;}
.works3 .sub-type-divi.po-type3 img:nth-of-type(2){margin-right: -50px;}
.works3 .sect4 .main-asis-tobe {display: flex;justify-content: space-between;flex-direction: row;margin-bottom: 40px;}
.works3 .sect4 .main-asis-tobe .main-asis{display: flex;align-items: flex-end;}
.works3 .sect4 .main-asis-tobe .main-asis img {width: 350px;display: inline-block;}
.works3 .sect4 .main-asis-tobe .main-asis span {color: #bcbcbc;font-size: 18px;font-weight: 200;margin-right: 10px;}

.works3 .sect6 {padding: 170px 0;}
.works3 .sect6.sub-type-divi{position: relative;}
.works3 .sect6 .line{display: inline-block;width: 100vw;height: 1px;background: #FEA903;margin-bottom: 20px;}
.works3 .sect6 .title_tobe{font-size: 18px;color: #666;font-weight: 200;}
.works3 .sect6 .slideshow {height: 488px;width: 100%;margin: 0 auto;margin-top: 0;position: relative;overflow: hidden;transform: translate3d(0, 0, 0);}
.works3 .sect6 .slide_area{height: 488px;width: 99999px;background-image: url(../img/sub_pages_tobe.svg);background-size: contain;background-repeat: repeat-x;position: absolute;top: 0;left: 0;transform: translate3d(0, 0, 0);animation: logoSlide2 1500s linear infinite;}
.works3 .link_mark img.link_logo{width: 28px;}
.works3 .sect6 .link_mark a{color: #777777;}
@keyframes logoSlide2 {
    100% {
        transform: translateX(-66.6666%);
    }
}

.works4{background: #181818;}
.works4 .sect1{padding-bottom: 0;}
.works4 .sect1 .main-tit{padding-top: 150px;color: #00DD5A;}
.works4 .sect1 img{width: 100%;}
.works4 .sect2 .event_bn {display: flex;justify-content: flex-end;position: relative;}
.works4 .sect2 .event_bn:after {z-index: 1;content: "";width: 100%;height: 300px;position: absolute;left: 0;bottom: 0;background: linear-gradient(0deg, rgba(24, 24, 24, 1) 14%, rgba(24, 24, 24, 0) 100%);}
.works4 .sect2 .event_bn img:nth-of-type(1){position: absolute;top: 103px;left: -862px;}
.works4 .sect2 .event_bn2 {display: flex;justify-content: flex-start;position: relative;margin-top: 50px;}
.works4 .sect2 .event_bn2:after {z-index: 1;content: "";width: 100%;height: 300px;position: absolute;left: 0;bottom: 0;background: linear-gradient(0deg, rgba(24, 24, 24, 1) 14%, rgba(24, 24, 24, 0) 100%);}
.works4 .sect2 .event_bn2 img:nth-of-type(1){position: absolute;top: 75px;left: -405px;}
.works4 .sub-type-divi strong{font-size: 36px;font-weight: 600;color: #fff;margin-bottom: 33px;display: inline-block;}
.works4 .sub-type-divi strong span{color: #00DD5A;}
.works4 .sub-type-divi .disc{font-size: 18px;color: #666;line-height: 28px;font-weight: 200;}
.works4 .sub-type-divi .disc.white{color: #EEEEEE;}

.works4 .sub-type-event .sub-type-divi{margin-top: 200px;}
.works4 .sect3{position: relative;}
.works4 .event_slide{display: flex;align-items: center;width: 807px;position: absolute;right: 100px;top: 0;height: 1080px;overflow: hidden;transform: translate3d(0, 0, 0);}
.works4 .event_slide::before{z-index: 1;content: "";width: 100%;height: 300px;position: absolute;left: 0;top: 0;background: linear-gradient(180deg, rgba(24,24,24,1) 2%, rgba(24,24,24,0.5718881302521008) 59%, rgba(24,24,24,0) 100%);}
.works4 .event_slide::after{z-index: 1;content: "";width: 100%;height: 300px;position: absolute;left: 0;bottom: 0;background: linear-gradient(0deg, rgba(24,24,24,1) 2%, rgba(24,24,24,0.5718881302521008) 59%, rgba(24,24,24,0) 100%);}
.works4 .sect3 .slide_area.area-1{background-image: url(../img/event_01.png);background-repeat: repeat-y;animation: eventSlide1 1200s linear infinite;margin-right: 20px;width: 259px;height: 99999px;background-size: contain;transform: translate3d(0, 0, 0);}
.works4 .sect3 .slide_area.area-2{background-image: url(../img/event_02.png);background-repeat: repeat-y;animation: eventSlide2 1200s linear infinite;margin-right: 20px;width: 259px;height: 99999px;background-size: contain;transform: translate3d(0, 0, 0);}
.works4 .sect3 .slide_area.area-3{background-image: url(../img/event_03.png);background-repeat: repeat-y;animation: eventSlide1 1200s linear infinite;width: 259px;height: 99999px;background-size: contain;transform: translate3d(0, 0, 0);}
.works4 .sect4 {min-height: auto;padding: 100px 0;}

@keyframes eventSlide1 {
    100% {
        transform: translateY(-66.6666%);
    }
}
@keyframes eventSlide2 {
    100% {
        transform: translateY(66.6666%);
    }
}

/*footer*/
footer{background: #212121; width: 100%;position: relative;overflow: hidden;}
.ft-cont{padding: 100px 0;font-size: 16px;color: #fff;font-weight: 200;line-height: 28px;display: flex;flex-direction: column;background-size: cover;}
footer::before{content: "";display: inline-block;background: url(../img/ft_s_img.svg) no-repeat;position: absolute;right: -38px;top: 58%;width: 487px;height: 652px;transform: translateY(-50%);background-size: cover;}
.ft-cont a {color: #212121;display: flex;background: #e0e0e0;width: 94px;border-radius: 22px;padding: 4px;align-items: center;justify-content: center;margin-bottom: 20px;font-weight: 200;transition: .3s;}
.ft-cont a img {margin-right: 5px;width: 22px;}
.ft-cont a:hover{background: #fff;}
.ft-cont ul.ft-link{}
.ft-cont ul.ft-link li{}
.ft-cont ul.ft-link li a{}
.ft-cont ul.ft-link li a img{}


/*반응형*/
@media screen and (max-width: 1184px) {
    .sub-img img{width: 100%;}
    .works2 .sect1 .live_mb {margin-left: 0;}
    .sect.sect5 > img {width: 100%;}
    .works2 .sect3 .sub-tit.sub-tit2 {margin-left: 0;}
}
@media screen and (max-width: 1080px) {
    .pf-wrap .pf-tp-sct .pf-slogan {font-size: 36px;line-height: 48px;}
    .pf-wrap .pf-tp-sct ul.pf-cate {justify-content: space-between;}
    .pf-wrap .pf-tp-sct ul.pf-cate li span {font-size: 16px;line-height: 20px;}
    .pf-wrap .pf-tp-sct ul.pf-cate li {width: calc(50% - 10px);margin-right: 0;margin-bottom: 15px;}
    .pf-wrap .pf-tp-sct ul.pf-cate li:nth-child(3), .pf-wrap .pf-tp-sct ul.pf-cate li:nth-child(6){margin-right: 0;}
    .pf-wrap .pf-bt-sct .filter {font-size: 14px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok {height: 450px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont {padding: 20px 20px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont .hashtag span {font-size: 14px;}
}
@media screen and (max-width: 780px) {
    .inner {padding: 0 15px;}
    footer::before {width: 300px;height: 434px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok {width:100%;height: 420px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok .pf-cont{opacity: 1;bottom: 0;visibility: visible;}
    .pf-wrap .pf-tp-sct .pf-slogan {margin: 80px 0 50px;font-size: 30px;line-height: 38px;}
    .pf-header-wrap .pf-header {padding: 20px 10px;}
    .pf-wrap .pf-header h1, .pf-wrap .pf-header h2{font-size: 14px;}
    .pf-wrap .pf-tp-sct {margin-bottom: 40px;}
    .pf-wrap .pf-tp-sct ul.pf-cate li {width: calc(50% - 6px);margin-bottom: 10px;}
    .pf-wrap .pf-tp-sct ul.pf-cate li:before {font-size: 16px;}
    .pf-wrap .pf-tp-sct ul.pf-cate li span {font-size: 16px;}
    .pf-wrap .pf-tp-sct ul.pf-cate li a {flex-direction: column;align-items: center;text-align: center;}
    .pf-wrap .pf-tp-sct ul.pf-cate li img {width: 40px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont {padding: 15px 12px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont p {font-size: 18px;line-height: 24px;margin-bottom: 8px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-cont .hashtag span{padding: 6px 9px;font-size: 13px;} /* 24/06/24 수정 */
    .ft-cont {padding: 50px 0;font-size: 14px;line-height: 24px;}
    .pf-header-wrap.fixed {width: 100vw;}
    .pf-header-wrap .pf-header .home {width: 70px;height: 56px;}
    .pf-header .home a img {width: 20px;}
    .sect {padding: 80px 0;min-height: 560px;}
    .works1 .sect1 .img_right img {width: 100%;}
    .works1 .sect.sect10 {padding: 250px 0 0 0;}
    .works1 .sect1 .main-tit {padding-top: 50px;}
    .sect1 .main-tit .logo-serv img {width: 100%;}
    .sect1 .main-tit .logo-serv {width: 170px;margin-bottom: 20px;}
    .sect1 .main-tit h3 {font-size: 24px;line-height: 36px;margin-bottom: 15px;}
    .sect1 .main-tit p {font-size: 16px;line-height: 24px;}
    .works1 .sect1::before {right: -122px;top: 321px;width: 350px;height: 350px;background-size: cover;}
    .works1 .sect1 {min-height: auto;background: #010101;}
    .works1 .sect1::after{content: none;}
    .sect .sub-tit span {font-size: 20px;line-height: 30px;margin-bottom: 16px;}
    .sect .sub-tit .disc {font-size: 14px;line-height: 24px;}
    .works1 .sect2 .sub-tit {margin-bottom: 40px;}
    .sub-img {width: 100%;display: inline-block;}
    .works1 .sect3 ul.sub-proc {margin-top: 40px;}
    .works1 .sect3 ul.sub-proc li span {font-size: 18px;line-height: 26px;margin-bottom: 12px;}
    .works1 .sect3 ul.sub-proc li p {font-size: 15px;line-height: 20px;}
    .works1 .sect3::before {top: 0;height: 222px;}
    .works1 .sect4 .sub-img {margin-bottom: 40px;}
    .works1 .sect5 .sub-tit p {font-size: 15px;line-height: 20px;}
    .works1 .sect5 .sub-img {margin-top: 40px;}
    .works1 .sect5 .analy-result {font-size: 16px;line-height: 24px;}
    .works1 .sect6 .painpoint-list ul li .img_guide {height: 130px;display: flex;align-items: center;}
    .works1 .sect6 .painpoint-list ul li span {font-size: 14px;font-weight: 200;line-height: 18px;text-align: center;}
    .works1 .sect6 .painpoint-list ul.pain-list1 li {margin-right: 0;}
    .works1 .sect6 .painpoint-list .pain-list2 {flex-direction: column-reverse;}
    .works1 .sect6 .painpoont-cont strong {font-size: 18px;line-height: 24px;}
    .works1 .sect6 .painpoont-cont p {font-size: 15px;line-height: 22px;}
    .works1 .sect6 .painpoont-cont {display: inline-block;width: 100%;margin-top: 50px;}
    .works1 .sect7 .bg_img {left: -120px;width: 100%;top: 34px;}
    .works1 .sect7 .text-warp img {width: 100%;margin-top: 800px;}
    .works1 .sect7 .text-warp {left: 15px;width: 100%;}
    .works1 .sect8 {padding-top: 510px;}
    .works1 .sect8 .design-st li {width: calc(50% - 5px);}
    .works1 .sect8 .design-st li:nth-child(1) {margin-right: 10px;}
    .works1 .sect8 .design-st li {height: 380px;}
    .works1 .sect8 .design-st li strong {font-size: 18px;line-height: 25px;margin-bottom: 40px;margin-top: 60px;}
    .works1 .sect8 .design-st span {font-size: 18px;line-height: 24px;margin-bottom: 20px;}
    .works1 .sect8 .design-st p {font-size: 15px;line-height: 23px;}
    .works1 .sect9 .text-motion > img {width: 100%;}
    .works1 .sect9 .text-motion .img-warp {left: 60px;width: 100px;}
    .works1 .sect9 .text-motion .img-warp > img:not(:last-of-type) {margin-bottom: 3px;}
    .works1 .sect9 .text-motion .img-warp img {width: 100%;}
    .works1 .sect9 .text-motion {margin-bottom: 40px;}
    .works1 .sect9 .text-disc {left: 15px;width: calc(100% - 30px);}
    .works1 .sect9 .text-disc h4 {font-size: 20px;line-height: 24px;}
    .works1 .sect9 .text-disc p {font-size: 14px;line-height: 24px;}
    .works1 .sect10 .sub-img {margin-top: 40px;}
    .works1 .sect11 .divi .divi-2-1 {padding-right: 0;border-right: none;margin-bottom: 40px;}
    .works1 .sect11 .divi .divi-2-1 img{width: 85%;}
    .works1 .sect11 .divi .divi-2-2 {padding-left: 0;border-left: none;}
    .works1 .sect11 .divi .divi-2-2 img {width: 100%;}
    .works1 .sect11 .divi {flex-direction: column;}
    .works1 .sect12 .sub-img img:nth-of-type(2) {margin-top: 90px;}
    .works1 .sect13 .sub-img {flex-direction: column;margin-top: 40px;}
    .works1 .sect15 .sub-img-etc {flex-direction: column;align-items: flex-start;}
    .works1 .sect15 .sub-img-divi:nth-of-type(2) {margin: 0;}
    .works1 .sect15 .pst-sect15 .sub-img {margin-top: 85px;}
    .works1 .sect16 .img-warp img {width: 100%;}
    .works1 .sect14 .sub-img {margin-top: 40px;}
    .sect14 .sub-img .sub-img-divi:nth-of-type(1) {margin-right: -14px;}
    .sect14 .sub-img .sub-img-divi:nth-of-type(1) img:nth-child(n+2) {margin-top: -24px;}

    .works2 .sect1 img {width: 100%;}
    .works2 .center_line {top: 40%;}
    .works2 .tit_pr {top: 50%;transform: translate(-50%, -50%);left: 50%;margin-left: -44px;}
    .works2 .tit_pr > img {width: 72%;}
    .works2 .sect1 .live_mb {right: 0;top: -178px;margin-left: auto;width: 280px;}
    .works2 .sect2 .live-int {margin-top: -80px;margin-left: 0;}
    .works2 .sect3 .sub-tit.sub-tit2 {margin-left: 0;margin-top: 120px;}
    .works2 .sect4 .sub-bi {flex-direction: column;}
    .works2 .sect4 .sub-bi .sub-tit {margin-left: 0;margin-top: 40px;}
    .works2 .sect4 .sub-type .sub-tit {width: 45%;}
    .works2 .sect4 .sub-type.type_center img {width: 280px;}
    .works2 .sect4 .sub-type.type_center .sub-tit {margin-left: 13px;}
    .works2 .sect5 > img {width: 100%;}

    .works3 .sect1 img {width: 100%;}
    .works3 .sect.sect1 img:nth-child(2) {margin-top: 0;}
    .works3 .sub-type-divi strong {font-size: 34px;font-weight: 600;}
    .works3 .sect2 .sub-type-divi {width: 100%;}
    .works3 .sect2 .sub-type-line {flex-direction: column;text-align: center;}
    .works3 .sect2 .sub-type-line:nth-of-type(1) {padding: 80px 0;}
    .works3 .sect3 {padding: 80px 0 0;}
    .works3 .sect3 .sub-type-divi > img {width: 100%;}
    .works3 .sect4 .main-asis-tobe {flex-direction: column;margin-bottom: 40px;}
    .works3 .sect4 .sub-type-divi {margin-bottom: 40px;}
    .works3 .sect4 .main-asis-tobe .main-asis {justify-content: flex-end;}
    .works3 .sect4 .main-asis-tobe .main-asis img {width: 350px;}
    .works3 .sect4 img {width: 100%;}
    .works3 .sub-type-divi.po-type2 {margin-top: 40px;align-items: flex-start;flex-direction: column;}
    .works3 .sub-type-divi .disc.white {margin-bottom: 10px;}
    .works3 .sub-type-divi.po-type3 {margin-top: 20px;justify-content: flex-start;flex-direction: row;align-items: flex-start;}
    .works3 .sub-type-divi.po-type3 img {width: 56%;}
    .works3 .sub-type-divi.po-type3 img:nth-of-type(1) {margin-left: -20px;}
    .works3 .sub-type-divi.po-type3 img:nth-of-type(2) {margin-left: -18px;}
    .works3 .sub-type-divi.imgs {justify-content: flex-end;margin-left: 0;margin-top: 20px;flex-direction: column;}
    .works3 .sect6 .slideshow {height: 280px;}
    .works3 .sect6 .slide_area {height: 280px;}

    .works4 .sect {min-height: 200px;}
    .works4 .sect1 img {width: 100%;}
    .works4 .sect1 .main-tit {padding-top: 40px;}
    .works4 .sub-type-divi strong {font-size: 24px;}
    .works4 .sect2 .event_bn img:nth-of-type(1) {top: 51px;left: -687px;width: 1359px;}
    .works4 .sect2 .event_bn img:nth-of-type(2) {width: 100%;}
    .works4 .sect2 .event_bn2 img:nth-of-type(1) {top: 51px;left: -318px;width: 1582px;}
    .works4 .sect2 .event_bn2 img:nth-of-type(2) {width: 100%;}
    .works4 .sub-type-event .sub-type-divi {margin-top: 0;}
    .works4 .event_slide {right: 0;height: 500px;margin-top: 300px;width: 100%;}
    .works4 .sect4 {margin-top: 400px;}
}

@media screen and (max-width: 450px) {
    .inner {padding: 0 10px;}
    .pf-wrap .pf-tp-sct .pf-slogan {font-size: 28px;margin: 80px 0 40px 0;line-height: 36px;}
    .pf-wrap .pf-bt-sct .pf-works-wrap .pf-wrok {height: 300px;}
    footer::before {width: 200px;height: 290px;}
}
